<div class="row">
  <div class="col-md-4">
    <div class="admin-filter">
      <form method="get">
        <div class="form-group">
          <label >Name</label> <br/>
          <input class="form-control" id="name" type="text" />
        </div>
        <div class="form-group">
          <label id="owner">Owner</label> <br/>
          <input class="form-control" id="owner" type="text" />
        </div>
        <div class="checkbox">
          <label>Not empty</label>
          <input type="checkbox" id="with_push" />
          <span class="light">Project with push events</span>
        </div>
        <div class="checkbox">
          <label>Abandoned</label>
          <input type="checkbox" id="abandoned" />
          <span class="light">No activity over 6 month</span>
        </div>
        <fieldset>
          <div class="strong">Visibility level:</div>
          <div class="visibility-levels">
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                <span class="descr"><i class="fa fa-lock"></i> Private</span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                <span class="descr"><i class="fa fa-shield"></i> Internal</span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                <span class="descr"><i class="fa fa-globe"></i> Public</span>
              </label>
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <button class="btn submit btn-primary" type="submit">Search</button>
          <a href="/" class="btn">Reset</a>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <div class="ui-box">
      <div class="title">
        Project (2)
        <div class="pull-right">
          <div class="dropdown inline">
            <a class="dropdown-toggle btn" data-toggle="dropdown">
              <span class="light">sort: </span>
              Name
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/">Name</a></li>
              <li><a href="/">Newest</a></li>
              <li><a href="/">Oldest</a></li>
              <li><a href="/">Recently updated</a></li>
              <li><a href="/">Last updated</a></li>
              <li><a href="/">Largest repository</a></li>
            </ul>
          </div>
          <a href="/" class="btn btn-new">New project</a>
        </div>
      </div>
      <ul class="well-list">
        <li>
          <div class="list-item-name">
            <span class="cgreen">
              <i class="fa fa-lock"></i>
            </span>
            <a href="/">Administrator / pp</a>
          </div>
          <div class="pull-right">
            <span class="label label-gray">0.0 MB</span>
            <a class="btn btn-small">Edit</a>
            <a class="btn btn-small btn-remove" method="delete">Destroy</a>
          </div>
        </li>
        <li>
          <div class="list-item-name">
            <span class="cblue">
              <i class="fa fa-globe"></i>
            </span>
            <a href="/">Administrator / public pp</a>
          </div>
          <div class="pull-right">
            <span class="label label-gray">0.0 MB</span>
            <a class="btn btn-small">Edit</a>
            <a class="btn btn-small btn-remove" method="delete">Destroy</a>
          </div>
        </li>
      </ul>
    </div>  
  </div>
</div>