<div class="projects">
	<div class="header navbar navbar-static-top navbar-gitlab">
		<div class="navbar-inner">
			<div class="container">
				<div class="app_logo">
					<span class="separator"></span>
					<a href="/" class="home has_bottom_tooltip" data-original-title="Dashboard">
						<h1></h1>
					</a>
					<span class="separator"></span>
				</div>
				<h1 class="title">Admin area</h1>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="hidden-sm hidden-xs">
							<div class="search">
								<form class="navbar-form pull-left" method="get" action="search">
									<input class="search-input" id="search" type="text" placeholder="Search">
								</form>
							</div>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="Search area">
								<i class="icon-search"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="Help">
								<i class="icon-question-sign"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="Public area">
								<i class="icon-globe"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="My snippets">
								<i class="icon-paste"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="Admin area">
								<i class="icon-cogs"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="New project">
								<i class="icon-plus"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="Profile settings">
								<i class="icon-user"></i>
							</a>
						</li>
						<li class="visible-sm visible-xs">
							<a href="/" class="has_bottom_tooltip" data-original-title="Logout">
								<i class="icon-signout"></i>
							</a>
						</li>
						<li class="hidden-xs">
							<a href="/" class="profile-pic" id="profile-pic">
								<img src="<%= image_path('user.png')%>">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>