<h3 class="page-title">Groups (1)
  <a class="btn btn-new pull-right">New group</a>
</h3>
<p class="light">
  Group allows you to keep projects organized. Use groups for uniting related projects.
</p>
<hr>
<form class="form-inline" method="get">
  <div class="form-group">
    <input class="form-control input-mn-300" id="name" />
    <button type="submit" class="btn submit btn-primary">Search</button>
  </div>
</form>
<hr>
<ul class="bordered-list">
  <li>
    <div class="clearfix">
      <div class="pull-right prepend-top-10">
        <a class="btn btn-small">Edit</a>
        <a class="btn btn-small btn-remove">Destroy</a>
      </div>
      <h4>
        <a href="/"><i class="fa fa-folder"></i> ideus</a>
        &rarr;
        <span class="monospace"><strong>ideus/</strong></span>
      </h4>
    </div>
    <div class="clearfix">
      <p>bilo sta...</p>
    </div>
    <div class="clearfix">
      <p class="light">1 member, 0 projects</p>
    </div>
  </li>
</ul>