@import "bootstrap";

.projects {
	header {
		&.navbar-gitlab {
			margin-bottom: 0px;
			min-height: 40px;
			.navbar-inner {
				background: #f1f1f1;
				border-bottom: 1px solid #ddd;
				filter: none;
				.app_logo {
					float: left;
					margin-right: 9px;
					a {
						float: left;
						padding: 0px;
						margin: 0px 6px;
						h1 {
							margin: 0;
							background-image: url('logo.png');
							background-size: 32px;
							float: left;
							height: 46px;
							width: 40px;
						}
					}
					&:hover {
						background-color: #eee;
					}
				}
				.title {
					position: relative;
					float: left;
					margin: 0;
					margin-left: 5px;
					/*@include header-font;*/
				}
			}
		}
		.profile-pic {
			position: relative;
			top: -1px;
			img {
				width: 26px;
				height: 26px;
				border-radius: 4px;
			}
		}
		.search {
			margin: 8px 10px 0p 10px;
			form {
				margin: 0;
				padding: 0;
			}
			.search-input {
				background-image: url('search.png');
				background-repeat: no-repeat;
				background-position: 10px;
				height: inherit;
				padding: 4px 6px;
				padding-left: 25px;
				font-size: 13px;
				border-radius: 3px;
				border: 1px solid #c6c6c6;
				box-shadow: none;
			}
		}
		.app_logo {
			.separator {
				margin-left: 0;
				margin-right: 0;
			}
		}
		.separator {
			float: left;
			height: 46px;
			width: 2px;
			background-color: white;
			border-left: 1px solid #ddd;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.search .search-input {
		width: 300px;
		&:focus {
			width: 400px;
		}
	}
}
