<header class="navbar navbar-static-top navbar-gitlab">
  <div class="navbar-inner">
    <div class="container">
      <div class="app_logo">
        <span class="separator"></span>
        <a href="/" class="home has_bottom_tooltip" data-original-title="Dashboard">
          <h1></h1>
        </a>
        <span class="separator"></span>
      </div>
      <h1 class="title">Admin area</h1>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="hidden-sm hidden-xs">
            <div class="search">
              <form class="navbar-form pull-left" method="get" action="search">
                <input class="search-input" id="search" type="text" placeholder="Search">
              </form>
            </div>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="Help">
              <i class="fa fa-question"></i>
            </a>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="Public area">
              <i class="fa fa-globe"></i>
            </a>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="My snippets">
              <i class="fa fa-paste"></i>
            </a>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="Admin area">
              <i class="fa fa-cogs"></i>
            </a>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="New project">
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="Profile settings">
              <i class="fa fa-user"></i>
            </a>
          </li>
          <li>
            <a href="/" class="has_bottom_tooltip" data-original-title="Logout">
              <i class="fa fa-sign-out"></i>
            </a>
          </li>
          <li class="hidden-xs">
            <a href="/" class="profile-pic" id="profile-pic">
              <img src="<%= image_path('user.png')%>">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>