<!DOCTYPE html>
<html>
<%= render 'layouts/head.html.erb'%>
<body class="ui_basic admin">
  <%= render 'layouts/head_panel.html.erb'%>
  <nav class="main-nav">
    <%= render 'layouts/nav/admin.html.erb'%>
  </nav>
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>




